/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-second-block {
	border: 1px dotted #f00;
	padding: 10px;
	margin: 10px;
}
/* You can add more styles beginning with
 * Example  for a titleclass directly inside .wp-block-create-block-second-block
 * .wp-block-create-block-second-block titleclass{
	background-color: blue;
 } 
 */
 