/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-second-block {
	&.is-style-default{
		border: 0.5em solid #fafafa;
        background-color: white;
		color:black;
	}
	&.is-style-astonishing{
		border: 2px solid yellow;
        border-radius: 16px;
        background-color: purple;
		color:white;
	}	
	margin: 1em;
	padding: 2em;
}
